body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.header-logo {
  pointer-events: none;
  margin-top: 2px;
  flex: 1.06;
}

.imagen-fondo {
  height: 700px;
  background-size: cover;
  background-image: url('../public/imagenes/image.jpg');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.text-container {
  position: absolute;
  top: 10%;
  left: 60%;
  text-align: center;
}

.text-container h2, .text-container h3 {
  font-family:  "Lexend-Tera", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #FBE3AB;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Asegura que los elementos estén espaciados correctamente */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu-item {
  margin: 0 20px;
  font-size: 1.5em;
  transition: transform 0.3s ease, background-color 0.3s;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu-item:hover {
  transform: scale(1.1);
  background-color: #ffce5d;
  border-color: #c58a00;
}

.auth-container {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Alinea el botón de autenticación a la derecha */
}

.auth-container a, .auth-container button {
  font-size: 1.5em;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
}

.auth-container a:hover, .auth-container button:hover {
  transform: scale(1.1);
  background-color: #ffce5d;
  border-color: #c58a00;
}

.auth-container .signout-button {
  background-color: #FBE3AB;
  color: black;
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s;
}

.auth-container .signout-button:hover {
  transform: scale(1.1);
  background-color: #ffce5d;
  border-color: #c58a00;
}

.auth-button {
  display: flex;
  justify-content: center;
  margin: 5px 20px;
  font-size: 2em;
  transition: transform 0.3s ease, background-color 0.3s;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 12%;
}

.auth-button:hover {
  transform: scale(1.1);
  background-color: #ffce5d;
  border-color: #c58a00;
}

.content {
  width: 60%;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: justify;
}

.content h1 {
  text-align: center;
}

.footer {
  background-color: #A4DDEA;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-logo {
  padding: 5px;
  width: 100px;
  align-items: center;
}

.footer-text {
  padding: 20px;
  padding-top: 30px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-menu-item {
  margin: 0 10px;
}

.footer-menu-item a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.footer-menu-item a:hover {
  text-decoration: underline;
}

.footer p {
  margin-top: 10px;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.text-container {
  position: absolute;
  top: 10%;
  left: 60%;
  text-align: center;
}

.text-container h2, .text-container h3 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* Form styles */
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #0033ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0024b4;
  transition: transform 0.3s ease, background-color 0.3s;
}

